<div class="table-t">
  <div class="tbl-header">
    <table>
      <thead>
        <tr>
          <th class="tableHeader"><button (click)="sortEven()">Id</button></th>
          <th><button (click)="sortOdd()">UserId</button></th>
          <th>title</th>
          <th>completed</th>
        </tr>
      </thead>
    </table>
    <div class="tbl-content">
      <table>
        <tbody>
          <tr *ngFor="let user of users">
            <td> {{ user.userId }} </td>
            <td> {{ user.id }} </td>
            <td> {{ user.title }} </td>
            <td> {{ user.completed }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="tips">
    <h1>Fiorella Cristal Paolino</h1>
    <a href="https://www.linkedin.com/in/fiorellapaolino/">
      <img src="https://img.icons8.com/fluency/48/000000/linkedin.png" />
    </a>
  </div>
</footer>